# AWS
AWS_REGION=ap-south-1
AWS_PROFILE=default
S3_BUCKET_NAME=your-rearc-data-quest-bucket

# BLS source settings
BLS_BASE_URL=https://download.bls.gov/pub/time.series/pr/
BLS_USER_AGENT=Your Name (youremail@example.com) Rearc Data Quest

# Population API
POPULATION_API_URL=https://honolulu-api.datausa.io/tesseract/data.jsonrecords?cube=acs_yg_total_population_1&drilldowns=Year%2CNation&locale=en&measures=Population

# S3 prefixes
S3_BLS_PREFIX=raw/bls/pr/
S3_API_PREFIX=raw/datausa/

