.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
.ipynb_checkpoints/
dist/
build/
*.egg-info/
.terraform/
cdk.out/
logs/

# AWS CLI local installer artifacts 
infra/cdk_app/awscliv2.zip
infra/cdk_app/aws/
